LedgeBound - 2D Platformer/[Ll]ibrary/
LedgeBound - 2D Platformer/[Tt]emp/
LedgeBound - 2D Platformer/[Oo]bj/
LedgeBound - 2D Platformer/[Bb]uild/
LedgeBound - 2D Platformer/[Bb]uilds/
LedgeBound - 2D Platformer/[Ll]ogs/
LedgeBound - 2D Platformer/[Uu]ser[Ss]ettings/
LedgeBound - 2D Platformer/[Mm]emoryCaptures/

.vs/
.idea/
.DS_Store
Thumbs.db
